<hr class="commonHr">

<table class="commonTable mb20">
	<tr>
		<th>会社名</th>
		<td>株式会社レアル［REAL］</td>
	</tr>
	<tr>
		<th>資本金</th>
		<td>1,000万円</td>
	</tr>
	<tr>
		<th>住所</th>
		<td>住所が入ります。</td>
	</tr>
	<tr>
		<th>FAX</th>
		<td>000-0000-0000</td>
	</tr>
	<tr>
		<th>TEL</th>
		<td>000-0000-0000</td>
    </tr>
    <tr>
        <th>事業内容</th>
        <td>事業内容が入ります。</td>
    </tr>
    <tr>
        <th>提携先</th>
        <td>提携先が入ります。</td>
    </tr>
</table>



<table class="commonTable2">
	<tr>
	<th>事務所</th>
		<td>

			<div id="comp01">
				<h3 class="bd_title">HEAD OFFICE</h3>
				<p>〒060-0062　<br class="hide-on-med-and-up">北海道札幌市中央区南2条西3丁目13番4号　片岡ビル6階</p>
				<p class="telArea">TEL：<span class="tel-link telTxt mr20">011-231-0025</span> FAX：<span class="telTxt">011-231-0070</span></p>


				<div class="mapArea">
				<iframe width="100%" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.co.jp/maps?q=loc:43.0581697,141.35348980000003&amp;num=1&amp;brcurrent=3,0x5f9ef44188d3ba87:0xcd12ae0e051b265a,0&amp;&hl=ja&ie=UTF8&amp;t=m&amp;ll=43.0581697,141.35348980000003&amp;spn=0.00092,0.003052&amp;z=17&amp;iwloc=A&amp;output=embed&amp;iwloc=B"></iframe>
				</div>
			</div><!-- comp01 -->

		</td>
	</tr>
</table>