
/*ã‚³ãƒ³ãƒã‚¸ãƒƒãƒˆè¿½åŠ */
.big-text br{
	display:none;
	}
.on-small-only .big-text br{
 ã€€ã€€ã€€ã€€display:inline !important;}
.on-small-only .big-text2{
	word-wrap:normal;}
.imgTable img{
	width:100%;
	height: auto;}
.imgTable td{
	padding:3.3% 0 0 3%;}
.on-small-only .imgTable td{
	width: 100%;
	float:left;
	margin-top: 10px;
	padding:0 !important;}
.model_office{
	border-top:solid 1px;
	margin-top: 60px;}
	
.compositeTable{
	border-collapse:separate;
	line-height: 1;/*margin: 0 auto;*/
	margin: 0;border-top: 1px solid #000;}

.compositeTable td,.compositeTable th{
	/*padding: 0 5px;*/
	font-weight:100 !important;
	text-align:center !important;
	}

.compositeTable th{padding: 12px 5px 0 0;}



.compositeTable td{padding: 5px 5px 0 0;}



.on-small-only .compositeTable td,.on-small-only .compositeTable th{text-align: center !important;}

.on-small-only .compositeTable{
	text-align: center;
	width: 100%;}

.on-small-only .floatR{
	margin-top:10px;}
	
.on-small-only .single-model .pf-content h2{text-align: center !important;}

.txCenter{
	text-align:center;
	border-right:solid 1px;
	line-height: 1.3;}
.on-small-only .txCenter{
	padding-left:0}

.models-txIn{
	border-top:5px solid;
	padding-top:5px;
	float:left;
	margin: 7px 10px 10px 0;
	display: inline;}
.on-small-only .models-txIn{
	width: 100%;
	float:none;
	margin: 0 !important;}
.on-small-only .models-tx{
	text-align:center;
	margin-top:30px;
	margin-bottom:10px;}
	
	
	.on-small-only .compositeTable th:first-child br{display:inline-block !important;}
	

.modelsImg{
	margin: 0 auto;}
.modelsImg td, th{
	padding:15px;}
	.on-small-only .modelsImg td, th{
	padding:12px 12px 5px 0px;/*padding:12px 12px 5px 12px;*/}

.modelsImg img{
	width:100%;
	height:auto;
	vertical-align: bottom;}
.on-small-only .modelsImg td{
	width: 100%;
	float:left;
	margin-top: 15px;
	padding:0 !important;}
	
	

.modelsCat{
	border-top: 7px solid #000;
	font-family: 'Questrial', sans-serif;
	float:left;
	font-size: 14px;
	margin: 0;
	padding-top: 10px;
	font-weight: bold;}	
.returnModel{
	border-bottom:solid;}
.fl{float:left;}
.fr{float:right;}
.composite{
	float:right;
	font-weight:bold;
	position: absolute;
top: 0;
right: 0;margin: 0;}
.jouho{
	margin-bottom:10px;}
.modelsName{
	margin:0 auto;}
.single-model .pf-content{
	margin-top:50px;}
	.on-small-only.single-model .pf-content{
	margin-top:0px;}


.modelF li{
	display:inline-block;
	text-align:justify;}