@charset "UTF-8";

/*
Theme Name: modea
Theme URI: http://hp-dap.com/
Author: Sugawara
Author URI: http://www.niveau.co.jp
Description: 左サイドバー固定+右可変
Version: 2.0
*/

*{-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
-o-box-sizing: border-box;
-ms-box-sizing: border-box;}
html{-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;height: 100%;}
article,aside,canvas,details,figcaption,figure,header,footer,main,menu,nav,section,summary{display:block;}
body{font-family: Avenir, Verdana, "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;

    /*font-family: "Open Sans", "Helvetica Neue", Helvetica, "Arial", "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;*//*font-size:16px;*//*line-height: 1.42857;*/line-height: 1.7;
font-size: 13px;color:#000;-webkit-font-smoothing:antialiased;position:relative;height: 100%;}
#wrapper{position:relative;padding-top:0;height: 100%;}
.on-small-only #wrapper{position:relative;/*padding-top:44px;*/padding-top:0px;/*overflow: hidden;*/}
/*.wrapper{border-top:3px solid #603813;}
    .on-small-only .wrapper{border-top:none;}
*/
/*GoogleFont*/
.g-font{font-family: 'Questrial', sans-serif;}
.g-font2{font-family: 'Montserrat', sans-serif;}
.italicer{font-style:italic;}
.bolder{font-weight:700;}
.gothic{font-family:Avenir, Verdana, "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;}
.mincho{font-family: "Times New Roman", "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "メイリオ", Meiryo, serif;}

/*Materializecss上書き*/
html{margin-top: 0 !important;}
body {font-size: 13px;}

.container {
    margin: 0 auto;
    max-width: 1080px;
    width: 90%;
}
.container2 {
    margin: 0 auto;
    max-width: 1080px;
    width: 100%;
}

td,th{-moz-border-radius: 0px;
-webkit-border-radius: 0px;
border-radius: 0px;}

.container810{margin: 0 auto;max-width: 810px;width: 90%;}
.container860{margin: 0 auto;max-width: 860px;width: 90%;}
    .on-small-only .container810{width: 100%;}
.container910{margin: 0 auto;max-width: 910px;width: 90%;}

.container1206{margin: 0 auto;max-width: 1206px;width: 90%;}
.container1254{margin: 0 auto;max-width: 1254px;width: 90%;}
.container1286{margin: 0 auto;max-width: 1286px;width: 90%;}
.container1170{margin: 0 auto;max-width: 1170px;width: 90%;}


/*マージン*/
.mtb20{margin:20px 0 !important;}
.m0{margin:0 !important;}
.mp0{margin:0;padding:0;}
.mt0{margin-top:0 !important;}
.mt5{margin-top:5px !important;}
.mt10{margin-top:10px !important;}
.mt15{margin-top:15px !important;}
.mt20{margin-top:20px !important;}
.mt30{margin-top:30px !important;}
.mt40{margin-top:40px !important;}
.mt50{margin-top:50px !important;}
.mt60{margin-top:60px !important;}
.mt90{margin-top:90px !important;}
.mtb60{margin-top:60px !important;margin-bottom:60px !important;}
.mb0{margin-bottom:0 !important;}
.mb5{margin-bottom:5px !important;}
.mb10{margin-bottom:10px !important;}
.mb20{margin-bottom:20px !important;}
.mb30{margin-bottom:30px;}
.mb40{margin-bottom:40px !important;}
.mb60{margin-bottom:60px !important;}
.mb90{margin-bottom:90px !important;}
.mr2{margin-right: 2px !important;}
.mr5{margin-right: 5px !important;}
.mr10{margin-right:10px !important;}
.mr20{margin-right:20px !important;}
.ml5{margin-left:5px !important;}
.ml10{margin-left:10px !important;}
.ml15{margin-left:15px !important;}
.mlr10{margin:0 10px !important;}
.p0{padding:0 !important;}
.p10{padding:10px !important;}
.p40{padding:40px !important;}
.p2rem{padding:2rem;}
.pl0{padding-left:0px !important;}
.pl5{padding-left:5px !important;}
.pl10{padding-left:10px !important;}
.plr5{padding-left:5px !important;padding-right:5px !important;}
.pt10{padding-top:10px !important;}
.pt30{padding-top:30px !important;}
.pt60{padding-top:60px;}
.pb0{padding-bottom:0 !important;}
.pb5{padding-bottom:5px !important;}
.pb16{padding-bottom:16px;}
.pb30{padding-bottom:30px;}
.pb60{padding-bottom:60px;}
.ptb20{padding:20px 0 !important;}
.pr0{padding-right:0 !important;}

/*グリッド*/
.col{position:relative;}
/*スライダー*/
.slider .indicators .indicator-item{background-color:transparent;border:1px solid #8B837A;width:10px !important;height:10px !important;margin:0 7px !important;}
.slider .indicator-item:hover{background-color:#ccc !important;}
.slider .indicator-item.active{background-color:transparent !important;border:1px solid #603813;}
/*タブカラー*/
.tabs .tab a{color:#D09C3B;}
.tabs .tab a:hover,.tabs .tab a:focus{color:#E4C584;}
.tabs .indicator{background-color:#D09C3B;}
/*フォーム*/
/*input[type=text],input[type=password],input[type=email],input[type=url],input[type=time],input[type=date],input[type=datetime-local],input[type=tel],input[type=number],input[type=search],textarea.materialize-textarea{border: 1px solid #9e9e9e;margin-top: 23px;padding: 0 1.6rem;}*/


/*input[type="text"], input[type="password"], input[type="email"], input[type="url"], input[type="time"], input[type="date"], input[type="datetime-local"], input[type="tel"], input[type="number"], input[type="search"], textarea.materialize-textarea {width: 95%;}

input[type="email"], input[type="tel"]{padding: 0 1.6rem;width: 90%;}*/

.dropdown-content li>a,.dropdown-content li>span{color:#603813;}

input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]){border-bottom:1px solid #F19500;box-shadow:0 1px 0 0 #F19500;}

input[type="radio"]:not(:checked), input[type="radio"]:checked {position: static;left: 0;visibility: inherit;}

/*アイコン位置*/
.input-field .prefix{top: 7px;}


/*textarea.materialize-textarea {padding:1.2rem 1.6rem;}*/




/*リンクカラー*/
a{color:#000;}
a:hover,a:focus{color:#000;}
/*ブロッククオート*/
blockquote{border-left:0;padding-left:0;}
blockquote{margin:0 0 20px;padding:20px;border:1px solid #ccc;border-radius:5px;-moz-border-radius:5px;}
blockquote blockquote{margin:20px 0;background-color:#fff;}
blockquote blockquote blockquote{margin:20px 0;background-color:#f4f4f4;}
/*モーダル*/
.modal{z-index:9999;}
/*レスポンシブギャラリー*/
.gallery{margin:auto}
.gallery .gallery-item{float:left;margin-top:10px;text-align:center;width:50%}
.gallery img{border:2px solid #cfcfcf}
.gallery .gallery-caption{margin-left:0}
@media screen and (min-width:600px){.gallery .gallery-item{width:33%}
}
@media screen and (min-width:960px){.gallery .gallery-item{width:20%/*width:25%*/}
}
/*サイドバーのライン*/
.table-of-contents a:hover {border-left: 1px solid #A87630;}

/*基本文字組み*/
/*日本語最適化*/
.h1,.h2,.h3,.h4,.h5,.h6,h1,h2,h3,h4,h5,h6{font-weight:300;line-height:1.2;color:inherit;}
.h1 .small,.h1 small,.h2 .small,.h2 small,.h3 .small,.h3 small,.h4 .small,.h4 small,.h5 .small,.h5 small,.h6 .small,.h6 small,h1 .small,h1 small,h2 .small,h2 small,h3 .small,h3 small,h4 .small,h4 small,h5 .small,h5 small,h6 .small,h6 small{font-weight:400;line-height:1;color:#777;}
.h1,.h2,.h3,h1,h2,h3{margin-top:22px;margin-bottom:11px;}
.h1 .small,.h1 small,.h2 .small,.h2 small,.h3 .small,.h3 small,h1 .small,h1 small,h2 .small,h2 small,h3 .small,h3 small{font-size:65%;}
.h4,.h5,.h6,h4,h5,h6{margin-top:11px;margin-bottom:11px;}
.h4 .small,.h4 small,.h5 .small,.h5 small,.h6 .small,.h6 small,h4 .small,h4 small,h5 .small,h5 small,h6 .small,h6 small{font-size:75%;}
.h1,h1{font-size:32px;}
    .on-small-only .h1,.on-small-only h1 {font-size: 26px;}
.h2,h2{font-size:28px;}
.h3,h3{font-size:24px;}
.h4,h4{font-size:19px;}
.h5,h5{font-size:16px;}
.h6,h6{font-size:12px;}
p{margin:0 0 11px;text-align: justify;
    text-justify: inter-ideograph;line-height:1.8;}
        .on-small-only p{line-height: 1.8;}
.lead{margin-bottom:22px;font-size:18px;font-weight:300;line-height:1.4}
.on-small-only .lead{font-size:24px;}
.small,small{font-size:75%;}
p.large-lead{font-size:22px;line-height:1.6;margin-bottom:40px;font-weight:300;}
p.larger-lead{font-size:28px;line-height:1.6;margin-bottom:40px;font-weight:300;}
p .btn{margin-right:20px;}
hr{margin:60px 0;}




/*文字オプション*/
.small-text{font-size:12px;}
.small-text13{font-size:13px;}
.smaller-text{font-size:9px;}
.big-text{font-size:16px;}
.bigger-text{font-size:21px;line-height:1.6;}
.none-text{text-transform:none;}
.strong-text{font-weight:bold;}
.lighter{font-weight:300;}
.bolder{font-weight:600;}
.boldest{font-weight:bold;}
.letter-spacing{letter-spacing:1px;}
.letter-spacing.big{letter-spacing:2px;}
.letter-spacing.bigger{letter-spacing:3px;}

.lh1{line-height: 1 !important;}
.lh16{line-height: 1.6;}

.white-text{color: #fff;}
.gray-text{color: #666;}
.black-text{color: #000;}


/*画面*/
.display-block{display:block;}
.display-none{display:none;}
.wrap{padding:0.6em 1.2em;}
.position-relative{position:relative;}
.overflow-hidden{overflow:hidden;}
/*clearfix*/
.clear{clear:both;}
.clear hr{display:none;}
/*デフォルトホバー*/
a{cursor:pointer;text-decoration:none;-webkit-transition:all .3s;transition:all .3s;-webkit-transition:all all .3s ease;-moz-transition:all all .3s ease;-ms-transition:all all .3s ease;-o-transition:all all .3s ease;transition:all all .3s ease;}
a:hover,a:focus{outline:none;text-decoration:none;}
/*マージン*/



/*リンクボタン*/
/*btn-marukado 丸角*/
.btn-marukado{font-size:13px;padding:0.8em 4em;display:inline-block;margin:30px 0 90px;letter-spacing:2px;color:#fff;-webkit-transition:all 0.5s;-moz-transition:all 0.5s;-o-transition:all 0.5s;transition:all 0.5s;position:relative;background:#333;border:1px solid #333;border-radius:20px;-webkit-border-radius:20px;-moz-border-radius:20px;}
.btn-marukado:hover{color:#333;background:#fff;}
/*btn-link アンダーバーボタン*/
.btn-link{border-color:#ccc;color:#ccc;background-color:transparent;padding:0 !important;padding-bottom:8px !important;min-width:inherit;border:none;font-weight:bold;font-size:14px;letter-spacing:0;border-bottom:2px solid;}
p .btn-link{padding-bottom:2px !important;line-height:1.8;}
/*btn-opacity ホバーでフェードアウト透過*/
.btn-opacity{-webkit-transition:0.6s;transition:0.6s;}
.btn-opacity:hover{opacity:0.5;filter:alpha(opacity=50);}




/*btn-border-white デフォルトボタンに白枠*/
.btn-border-white{border:1px solid #ccc;color:#ccc;margin:2em 0;}
.btn-border-white:hover{color:#fff;}
/*画像w100%にしたいときの場合*/
img.responsive-img2{width: 100%;height: auto;vertical-align: bottom;}




/*col隙間なしの場合*/
.row.no-padding {margin-left: 0rem;margin-right:0rem;}
.row.no-padding .col {padding: 0;}

.row{margin-bottom: 0;}

nav ul li:hover, nav ul li.active{background-color: none !important;}

/*clearfix追加*/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
 
.clearfix:after {
    clear: both;
}
 
.clearfix {
    *zoom: 1; /* for IE 6/7 only */
}

/*メディアクエリ参考*/
@media screen and (max-width:600px) { 
/*[.on-small-only]画面サイズが600pxまではここを読み込む*/
}
@media screen and (min-width:600px) and ( max-width:992px) {
/*[.on-med-only]画面サイズが600pxから992pxまではここを読み込む*/
}
@media screen and (min-width:992px) {
/*[.on-large-only]画面サイズが992pxからはここを読み込む*/
}



/******************************************

    共通

*******************************************/

.no-padding{padding-left: 0;padding-right: 0;}

.container810{margin: 0 auto;max-width: 810px;width: 90%;}
.container860{margin: 0 auto;max-width: 860px;width: 90%;}
    .on-small-only .container810{width: 100%;}
.container910{margin: 0 auto;max-width: 910px;width: 90%;}
    .on-small-only .container910{width: 100%;}
.container1254{margin: 0 auto;max-width: 1254px;width: 90%;}
.container1286{margin: 0 auto;max-width: 1286px;width: 90%;}
.container1170{margin: 0 auto;max-width: 1170px;width: 90%;}

.container100p{margin: 0 auto;max-width: 1080px;width: 100%;}
.container100p .row {
    margin-left: -0.75rem;
    margin-right: -0.75rem;
}

.container100p2{margin: 0 auto;max-width: 1390px;
width: 100%;}
.container100p2 .row {
    margin-left: -0.75rem;
    margin-right: -0.75rem;
}



.container810 .row, .container860 .row, .container910 .row, .container1254 .row, .container1286 .row, .container1206 .row {
    margin-left: -0.75rem;
    margin-right: -0.75rem;
}


/*透明背景*/
.bgClearWhite{padding:22px 20px ;
  background: rgba(255,255,255,0.5);
filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#55ffffff', endColorstr='#55ffffff');}


/*アンダーライン*/
.underLine{text-decoration: underline;}
.underLine:hover{text-decoration: none;}


/*縦中央*/
.va-m{vertical-align: middle;}


/*maximage調整*/
div.mc-image {background-position: right center !important;}





/* タイトル
-------------------------------------*/

/*共通ページタイトル（小）*/
.page-title{font-size: 19px;
font-weight: bold;
/*border-bottom: 1px solid #ccc;*/
margin-bottom: 20px;}
    .on-small-only .page-title{margin-bottom: 10px;}
  
  #guideline .page-title{border-bottom: 1px solid #ccc;margin-bottom: 40px;padding-bottom: 10px;}

  .on-small-only#guideline .page-title{margin-bottom: 20px;}

/*下にグレーラインのあるタイトル（小）*/
.simple_title{font-size: 16px;border-bottom: 1px solid #ccc;padding-bottom: 7px;margin-top: 40px;margin-bottom: 20px;}

 .on-small-only .simple_title:nth-of-type(1){margin-top: 20px;}


/*下にラインのあるタイトル（小）*/
.bd_title{font-size: 13px;letter-spacing: 2px;border-bottom: 2px solid #000;padding-bottom: 3px;
margin-bottom: 13px;margin-top: 0;font-weight: 700;
display: inline-block;}


/*カテゴリタイトル*/
.cat{font-size: 14px;margin-top: 0;margin-bottom: 30px;
padding-top: 10px;display: inline-block;font-weight: bold;}
    .on-small-only .cat{margin-bottom: 10px;margin-top: 20px;}

/*上の太い線*/
.uLine{border-top: 7px solid #000;margin-top: 60px;}
.uLine:nth-child(1){margin-top: 0;}
    .on-small-only .uLine:nth-of-type(1){margin-top: 20px;}
        .on-small-only .uLine{border-top: 5px solid #000;}


/*共通タイトル線なし*/
.simple_titleL{font-size: 23px;font-weight: bold;}
    .on-small-only .simple_titleL{font-size: 20px;margin-top: 0px;}

.simple_titleM{font-size: 18px;
font-weight: bold;
margin-bottom: 20px;
line-height: 1.7;}

    .on-small-only .simple_titleM{font-size: 17px;}


.simple_titleS{font-size: 14px;
font-weight: bold;
margin-bottom: 15px;
line-height: 1.7;}


.simple_titleS2{font-size: 14px;
font-weight: bold;
margin-top: 40px;
margin-bottom: 5px;
line-height: 1.7;}
    .on-small-only .simple_titleS2{margin-top: 20px;}




/* arrow
-------------------------------------*/
.arrow::before,.arrow::after{position: absolute;
top: 0;
bottom: 0;
margin: auto;
content: "";
vertical-align: middle;}


/*さんかく*/
.arrow_sankaku:before{width: 0;height: 0;left: 10px;
border-style: solid;
border-width: 3px 0 3px 6px;
border-color: transparent transparent transparent #ffffff;}

/*アロー*/
.arrow_arrowL:before{left:0px;width:6px;height:6px;border-top:1px solid #000;border-right:1px solid #000;-webkit-transform:rotate(45deg);transform:rotate(45deg);}

.arrow_arrowR:before{right:20px;width:10px;height:10px;border-top:1px solid #000;border-right:1px solid #000;-webkit-transform:rotate(45deg);transform:rotate(45deg);}

.home .arrow_arrowR:before{right: 0;}

/*白いアロー*/
.arrow_white::after{right:20px;width:10px;height:10px;border-top:2px solid #fff;border-right:2px solid #fff;-webkit-transform:rotate(45deg);transform:rotate(45deg);}

.arrow_whiteL::after{left:20px;width:10px;height:10px;border-top:2px solid #fff;border-right:2px solid #fff;-webkit-transform:rotate(45deg);transform:rotate(45deg);}

.arrow_whiteR:before{right:20px;width:10px;height:10px;border-top:1px solid #fff;border-right:1px solid #fff;-webkit-transform:rotate(45deg);transform:rotate(45deg);}



/* btn
-------------------------------------*/

/*textBtn*/
.btn_txt{position: absolute;
right: 0px;bottom: 0px;font-size: 13px;padding: 3px 12px 3px 6px;text-decoration: none !important;}

.home.on-small-only .btn_txt{right: -10px;}

/*betaBtn*/
.btn_beta{background: #000;
color: #fff;
font-size: 14px;font-weight: bold;
padding: 8px 40px;
text-decoration: none !important;
letter-spacing: 1px;
display: inline-block;}
.btn_beta:hover,.btn_beta:focus{color: #fff;}

/*betaBtn きみどり*/
.btn_beta-yg{background: #F19500;
color: #fff;
font-size: 17px;font-weight: bold;
padding: 17px 40px;
text-decoration: none !important;
display: inline-block;
position: relative;
width: 30%;
text-align: center;
}
.btn_beta-yg:hover,.btn_beta-yg:focus{color: #fff;}
.error404 .btn_beta-yg{width: 60%;}
    .on-small-only .btn_beta-yg{width: 100%;}

.btn_beta-yg.arrow_arrowR::before{border-top: 1px solid #fff;
border-right: 1px solid #fff;}


/*betaBtn 同サイズの黒*/
.btn_beta-bk{background: #000;
color: #fff;
font-size: 17px;font-weight: bold;
padding: 17px 40px;
text-decoration: none !important;
display: inline-block;
position: relative;
width: 30%;
text-align: center;
}
.btn_beta-bk:hover,.btn_beta-bk:focus{color: #fff;}





/* table
-------------------------------------*/

.commonTable th,.commonTable td{/*border-top: 1px solid #999;border-bottom: 1px solid #999;*/padding:6px 40px 6px 0;}
    .on-small-only .commonTable th,.on-small-only .commonTable td{    padding: 10px 0px 0 !important;}

.commonTable th,.commonTable2 th{background: #fff;text-align: left;width: 15%;color: #666;}
    .on-small-only .commonTable th,.on-small-only .commonTable2 th{width: 26%;}
    .on-small-only .commonTable th,.on-small-only .commonTable2 td{padding: 10px 0px　0;vertical-align: top;}

.commonTable2 th,.commonTable2 td{border-top: 1px solid #ccc;border-bottom: 1px solid #ccc;padding: 30px 40px 30px 0;}
    .on-small-only .commonTable2 th,.on-small-only .commonTable2 td{padding: 15px 0px;}
.commonTable2 th{vertical-align: top;}


/* カテゴリアイコン
-------------------------------------*/

.category_ico {
    color: #000;
    display: inline-block;
    text-align: center;
    /*min-width: 75px;*/
    margin: 0 10px;
    font-size: 11px;
    border: 1px solid #000;
    line-height: 1;
}
.category_ico a{padding: 2px 5px;display: block;line-height: 1;}
.iphone .category_ico a{padding: 4px 5px 2px;}
    .on-small-only .category_ico{margin: 0;}




/* hr
-------------------------------------*/

.commonHr{border:solid #ccc;
   border-width:1px 0 0 0;margin: 30px 0;}

   .on-small-only .commonHr{margin: 15px 0;}

/******************************************

    基礎

*******************************************/



/* 基礎
-------------------------------------*/
#wrapper {width: 100%;}


/*オリジナル*/

/*ページfade表示用*/
body{display:none}

   a { 
        -webkit-transition: 0.3s ease-in-out;
           -moz-transition: 0.3s ease-in-out;
             -o-transition: 0.3s ease-in-out;
                transition: 0.3s ease-in-out;
    }


        a:hover {
          text-decoration: none;
        opacity: 0.7;
        filter: alpha(opacity=30);
    }


.color_main{color: #F19500;}



/* 左サイドバー
-------------------------------------*/

#side {
  float: left;
  width: 250px;
  background: #fff;
  height: 100%;
  position: fixed;
}



/*.on-large-only .sideIn{min-height: 900px;}*/

.home #side,.home #main,.archive #side,.single #side{height: 100%;}

.sideIn{text-align: center;padding:40px 35px;height: 100%;position: relative;}


/*ロゴ*/
.site-title{margin-top: 0;margin-bottom: 30px;z-index: 999;}

  .on-small-only .site-title{text-align: center;padding: 15px;margin-bottom: 0;z-index: 999;}

.topCol{margin-right: 20px;}

.on-small-only .topCol{
    margin-right: 0px;
  background: rgba(255,255,255,0.9);
  /*background: rgba(200,200,200,0.8);*/
filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#77ffffff', endColorstr='#77ffffff');
    /*position: absolute;*/
        position: fixed;
    top: 0;
width: 100%;
z-index: 99;
}

#sidenav-overlay{z-index: 10;}

/*グローバルナビ*/
nav{background: none;}
nav#top-head{width:100%;text-align:center;height:auto;line-height:1;background-color:transparent;}
.on-small-only nav#top-head{text-align:left !important;}
nav#top-head a{/*color:#333;padding:15px;*/}
nav#top-head #global-nav2 a{color:#fff;font-size: 14px;letter-spacing: 1px;font-weight: bold;}



.global-nav li {width: 100%;text-align: left;line-height: 36px;}


.global-nav{width: 100%;}
    .global-nav a{padding: 0;color: #000;}

/*.global-nav_2{position: absolute;top: 0;left: 0;width: 200px;}
nav .global-nav li:hover, nav .global-nav_2 li.active {background-color: none !important;}
.global-nav_2 li {margin-right: 1.2em;margin-left: 0;}
    .global-nav_2 a{padding: 0 10px 0 0;}*/





.global-nav li a{
  text-indent:-9999px;
  width:160px;
  height:36px;

  /*padding:5px 0;*/
  margin:0 0px 14px;
        display: inline-block;
        position: relative;
}
.global-nav li a:hover,.global-nav li a:focus{opacity: 1;}

.global-nav li a span {
        position: absolute;
        top: 0; left: 0; bottom: 0; right: 0;
}

.global-nav .menubtn_01{
  background: url(img/nav01.png) repeat top center;  
  background-size: 100% auto;
}

.global-nav .menubtn_01 span,.global-nav .menubtn_01.current{
  background: url(img/nav01.png) repeat bottom center;  
  background-size: 100% auto;
}

.global-nav .menubtn_02{
  background: url(img/nav02.png) repeat top center;  
  background-size: 100% auto;
}

.global-nav .menubtn_02 span,.global-nav .menubtn_02.current{
  background: url(img/nav02.png) repeat bottom center; 
  background-size: 100% auto; 
}

.global-nav .menubtn_03{
  background: url(img/nav03.png) repeat top center;  
  background-size: 100% auto;
}

.global-nav .menubtn_03 span,.global-nav .menubtn_03.current{
  background: url(img/nav03.png) repeat bottom center;  
  background-size: 100% auto;
}

.global-nav .menubtn_04{
  background: url(img/nav04.png) repeat top center;  
  background-size: 100% auto;
}

.global-nav .menubtn_04 span,.global-nav .menubtn_04.current{
  background: url(img/nav04.png) repeat bottom center;  
  background-size: 100% auto;
}

.global-nav .menubtn_05{
  background: url(img/nav05.png) repeat top center;  
  background-size: 100% auto;
}

.global-nav .menubtn_05 span,.global-nav .menubtn_05.current{
  background: url(img/nav05.png) repeat bottom center;  
  background-size: 100% auto;
}







/*nav追加*/
.on-small-only nav#top-head a{padding:25px;z-index:99999;}


/*ハンバーガーアイコン*/
.mobile-nav-trigger{position:absolute !important;left:0px;top:4px;width:15px;height:12px;display:block;padding:16px 14px;}

.mobile-nav-trigger span{-webkit-transition:all .6s cubic-bezier(.165,.84,.44,1);transition:all .6s cubic-bezier(.165,.84,.44,1);-webkit-transform-origin:0 0;-ms-transform-origin:0 0;transform-origin:0 0;width:15px;height:1px;margin-bottom:4px;background:#666;display:block;margin-top: 6px;}

.is-menu-open .mobile-nav-trigger span:first-child{-webkit-transform:translate3d(0,5px,0) rotate(-45deg);transform:translate3d(0,5px,0) rotate(-45deg);width:10px;}

.is-menu-open .mobile-nav-trigger span:first-child+span{width:22px;}
.is-menu-open .mobile-nav-trigger span:first-child+span+span{-webkit-transform:translate3d(0,-5px,0) rotate(45deg);transform:translate3d(0,-5px,0) rotate(45deg);width:10px;}


/*閉じた場合*/

#panel-btn-icon:before, #panel-btn-icon:after{
  display: block;
  content: "";
  position: absolute;
  top: 50%;
  left: 25px;
  width: 15px;
  height: 1px;

  background: #666;
  transition: .3s;
}
#panel-btn-icon:before{
  margin-top: -4px;
}
#panel-btn-icon:after{
  margin-top: 10px;
}

/*開いた場合*/
#panel-btn .close{
  background: transparent;
}
#panel-btn .close:before, #panel-btn .close:after{
  margin-top: 0;
}
#panel-btn .close:before{
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
#panel-btn .close:after{
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.on-small-only #nav-mobile li{padding: 0;}
/*.on-small-only #nav-mobile li:first-child{margin-top: 60px;}*/
  .on-small-only #nav-mobile li a{height: auto;line-height: 1;padding: 10px 25px;}
  /*.on-small-only #nav-mobile li:first-child{margin-top: 60px;}*/



.on-small-only .footBn ul li{margin: 10px 0 0 20px;}
.on-small-only .footBn02 a{padding: 0 !important;}



/*spアイコン*/
.on-small-only .icoNav{margin-top: 0px;}
.on-small-only .icoNav li{display: inline-block;padding: 0;}
.on-small-only #nav-mobile .icoNav li:first-child{margin-top: 0px;}


/*sp募集中バナー*/
.on-small-only .bn_mdl{margin-bottom: 0px;}
.on-small-only .bn_mdl img{max-width: 80%;}
    .on-small-only .bn_mdl a{padding: 0px 25px;}

.icoNavArea:hover,.icoNavArea:focus,.side-nav li.active {background-color: #fff;}
/*
.side-nav{width: 100%;}*/


.on-small-only .icoNavArea:hover,.on-small-only .footBn:hover,.on-small-only .icoNavArea:focus,.on-small-only .footBn:focus,

.on-small-only .icoNavArea ul li:hover,.on-small-only .footBn ul li:hover,.on-small-only .icoNavArea ul li:focus,.on-small-only .footBn ul li:focus{background: #fff;}

@media only screen and (max-width: 992px){

/*.side-nav.fixed {left: -105%;}*/

}


/*コンテンツ内*/

.containerAll{position: relative;padding: 30px 30px 60px;/*height: 100%;*/margin-left: 500px;/*min-height: 100%;*/}
    .on-small-only .containerAll{margin-left: 0px;padding: 80px 20px 15px !important;}

 /* #campaign-girl .containerAll{padding: 16px 30px 60px;}*/
 #models .containerAll{padding: 30px 40px 60px 30px;}

.home .containerAll{border-top: 40px solid #fff;border-bottom: 40px solid #fff;}


.btmLine{border-bottom: 40px solid #fff;position: fixed;
    bottom: 0;width: 100%;margin-left: 500px;z-index: 99;}



/* ----iPad in 横----*/
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {

   /*  style  */
.btmLine{border-bottom: 30px solid #fff;}

}

/*バナー*/
.footBn{margin-bottom: 0;}
.footBn .L,.footBn .R{display: inline-block;}
.footBn .L{margin-right: 10px;}
.footBn #footBn02{margin-top: 14px;}
.on-small-only .footBn02 li a{padding: 0;}

.on-small-only #nav-mobile li.footBn:first-child{margin-top: 0;}

/* footer
-------------------------------------*/


#footer{position: absolute;bottom: 25px;}
.copy{text-align: left;font-size: 9px;}


/*footMenu*/
.footMenu li,.footBn li{text-align: left;}
.footMenu li{letter-spacing: 1px;font-size: 12px;}
.footMenu li a{display: block;padding: 6px 0;}


/*sp foot*/
.spFoot #footBn02,.spFoot .copy{text-align: center;padding-bottom: 15px;}


/* 右メインカラム
-------------------------------------*/

#main {
  /*float: left;
  width: 100%;*/
  margin-left: -250px;
  /*height: 100%;*/
/*  position: relative;*/
}
    #entry #main{margin-left: 0px;}

/*.home #main{border-bottom: 40px solid #fff;}*/

  .on-small-only #main {margin-left: 0px;margin-top: -14px;z-index:0;}

.demo-demo-main p {margin-left: 250px;}


/*メイン画像*/
#maximage {position: fixed !important;left: 250px;margin-top: 40px;}

  .on-small-only #maximage {position: fixed !important;left: 0px;}



/* ----iPad in 横----*/
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {

   /*  style  */
#maximage {margin-top: 30px;}

}

/*sp*/
.bx-wrapper .bx-pager {display: none;}



/* 右ニュース
-------------------------------------*/

.rightCol{/*position: absolute;*/position: fixed;top: 0px;right: 0px;width: 405px;height: 100%;}
  .on-small-only .rightCol{height: auto;position: static;}
.rightColIn{margin-top: 90px;margin-right: 40px;}
  .on-small-only .rightColIn{margin-top: 0px;margin-right: 0px;}

.rightColIn #works{margin-top: 20px;}

.rightCol #works p,.rightCol #news p{font-size: 12px;line-height: 1.5;margin-bottom: 0;}

.rightColIn .row{margin-left: -6px;margin-right: -6px;}
.rightColIn .row .col{padding: 0 6px;}

.rightColIn #works li{margin-top: 12px;}
.rightColIn #works li:first-child{margin-top: 0;}


  .spSide{margin-top: 0px;padding: 20px;position: static;
width: 100%;}


/* ----iPad in 横----*/
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {

   /*  style  */
.rightColIn {
    margin-top: 60px;
    margin-right: 30px;
}

}


/*TOP右ニュースタイトル*/
.homeSide_title{position: relative;font-weight: bold;font-size: 17px;margin-top: 0;}

.archive .side_title,.single .side_title,#works .side_title{position: relative;
font-weight: bold;
font-size: 16px;
margin-top: 0;
text-align: center;
border-bottom: 1px solid #000;
padding-bottom: 9px;
margin-bottom: 0;
}


#works .side_title{margin-bottom: 23px;}

/*news*/
.sideNews_title{font-size: 17px;font-weight: normal;margin-top: 10px;}
.day{font-size: 12px;margin-right: 14px;font-weight: normal;}

.rightCol #news img,.rightCol #works img{margin-top: 5px;}

/* ----iPad in 横----*/
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {

.sideNews_title{font-size: 14px;}

}


.on-small-only .side_title.mt60 {margin-top: 40px !important;}

/*Works*/
.sideWorks_title{font-size: 14px;font-weight: bold;margin-top: 10px;margin-bottom: 10px;}
#works .day{font-size: 11px;margin-right: 8px;font-weight: normal;}

.home #works .catIco{font-size: 11px;margin-right: 6px;display: inline-block;}
.sideName{font-size: 12px;color: #666;letter-spacing: 0.5px;font-weight: bold;}

.mask {
  -webkit-clip-path: url(#svgPath);
  clip-path: url(#svgPath);
}


/*archiveなどのサイド*/
  .row .colmnR.offset-l1.l3 {margin-left: 4.333%;width: 29%;}

      .on-small-only .row .colmnR.offset-l1.l3 {margin-left: 0%;width:100%;}


#columnSide{background: #F1F1F0;padding: 50px 40px;height: 100%;}
    .on-small-only.archive #columnSide,.on-small-only.single #columnSide{padding: 20px;margin:25px -10px 0px;}

    .on-small-only#works #columnSide,.on-small-only.tax-work-cat #columnSide{padding: 20px;margin:25px -20px 0px;}

.home .rightCol.col.offset-l1{width: 30% !important;}
.rightCol.col.offset-l1{/*width: 320px !important;*/width: 22% !important;padding: 0;margin-left: 4%;}

    .on-small-only .rightCol.col.offset-l1{width: 100% !important;    margin-left: 0%;}

@media only screen and (min-device-width: 1680px)  {

.home .rightCol.col.offset-l1 {width: 22% !important;}

}

@media only screen and (min-device-width: 1480px) and (max-device-width: 1679px)  {

.home .rightCol.col.offset-l1 {width: 25% !important;}

}




/* ----iPad in 横----*/
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {

   /*  style  */
.home .rightCol.col.offset-l1{width: 28% !important;}

}

.sideList{margin: 0;}
.sideList li {
    padding: 13px 0px;
    border-bottom: 1px dotted #808080;
}
.sideCat li{padding: 15px 0px;border-bottom: none;}
    .on-small-only .sideCat li{padding: 10px 0px;}
.sideList li .newsTitle{margin-bottom: 0;
font-size: 16px;
margin-top: 3px;}


.sideList li .day{margin-right: 6px;margin-top: 60px;}

/*サイドカテゴリの装飾*/
.sideCatTitle{margin-bottom: 20px !important;}
.sideCat li a {
    padding: 2px 5px;
    color: #000;
    display: inline-block;
    text-align: center;
    /*min-width: 75px;*/
    margin: 0;
    font-size: 13px;
    border: 1px solid #000;
    line-height: 1;
}


.iphone .sideCat li a {padding: 4px 5px 2px;}





/* ----iPad in 横----*/
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {

   /*  style  */
  .rightCol #works p, .rightCol #news p{margin-top: 5px;}
.sideWorks_title {margin-top: 3px;margin-bottom: 3px;}
.sideNews_title{margin-bottom: 5px;}
}


/*カテゴリカウントの数字装飾*/
.count {
 /* サイズ指定 */        
 width:24px;
 height:24px;
 /* 背景色 */
 background-color:#000;
 /* 角を丸くする */
 border-radius: 50%;
 -webkit-border-radius: 50%;
 -moz-border-radius: 50%;
 display: inline-block;
text-align: center;
float: right;
font-size: 11px;
color: #fff;
position: relative;
}

.countIn{padding-top: 2px;display: inline-block;}
    .iphone .countIn{padding-top: 4px;}

/* archive
-------------------------------------*/

.arTitle {
    display: block;
    margin-top: 10px;
    font-size: 21px;
}
    .on-small-only .arTitle {font-size: 18px;}

.archive .row .col.m9,.single-post .row .col.m9,#works .row .col.m9{
    /*width: 73%;*/width: 70%;}
        .on-small-only.archive .row .col.m9,.on-small-only.single-post .row .col.m9,.on-small-only#works .row .col.m9,.on-small-only.tax-work-cat .row .col.m9{width: 100%;}

    .on-small-only.archive .row .col.s7{width: 58.33333%;}

.post-section{margin-top: 30px;}
.post-section:nth-of-type(1){margin-top: 0;}


/* single
-------------------------------------*/
.single .post-title{margin-top: 0;}
.single-post #downloadpdf{display: none !important;}


/* company
-------------------------------------*/


#company strong {font-weight: bold;}

.commonTable2 p{margin-bottom: 0;}

.mapArea{margin-top: 15px;}


/*電話番号*/
.telArea{letter-spacing: 2px;}
.telTxt{font-size: 19px;}
    .on-small-only .telTxt{font-size: 19px;
    display: block;
        line-height: 1.1;
    margin-bottom: 8px;}

#comp01{margin-bottom: 30px;}


/* models,works
-------------------------------------*/

.on-large-only #main .modelList.row,.on-med-only #main .modelList.row{margin-left: -32px;margin-right: -32px;}
.on-large-only #main .modelList.row .col,.on-med-only #main .modelList.row .col{padding: 0 32px;}

    .on-small-only .modelList.row{margin-left: -10px;margin-right: -10px;}
    .on-small-only .modelList.row .col{padding: 0 10px;}


.modelList li{margin-top: 40px;}
.modelList li:nth-child(-n+3){margin-top: 0;}
    .on-small-only .modelList li{margin-top: 30px;}
    .on-small-only .modelList li::nth-child(-n+2){margin-top: 0;}
.modelList li div{position: relative;}

.name_title{font-size: 20px;letter-spacing: 1px;position: relative;margin: 15px 0 0;}
.name_subTitle{font-size: 9px;display: block;margin-top: 5px;letter-spacing: 1px;}

    .on-small-only .name_title{font-size: 16px;margin: 12px 0 0;}

.insta{position: absolute;
right: 0;top: 0;}

   .on-small-only .insta img{max-width: 80%;height: auto;}

.newFace{position: absolute;
right: 0;top: 0;}

.ico_new{position: absolute;top: 0;right: 0;}



/*works*/
.work-date{margin: 10px 0px 5px;}
.workTitle{font-size: 15px;font-weight: bold;margin-bottom: 6px;
margin-top: 0px;}

.single-work .pf-content{display: none;}



/* composite
-------------------------------------*/
.compositeTable{width: 50%;}
.imgTable{width: 100%;}

/* campaign-girl
-------------------------------------*/

#campaign-girl .titleArea{background: url(img/bg_camGirl.jpg) no-repeat center center;  
  background-size: cover;height: 300px;margin: 10px 0 40px;}
    .on-small-only#campaign-girl .titleArea{margin: 10px -20px 20px;}

  #campaign-girl .page-title{text-align: center;
position: relative;
overflow: hidden;
font-size: 57px;
display: inline-block;
color: #fff;
line-height: 1;
margin: 0;
top: 50%;
left: 50%;
    transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
    -ms-transform: translateY(-50%) translateX(-50%);
  }
    .on-small-only#campaign-girl .page-title{font-size: 40px;padding: 0 20px;}

.page-subTitle{
  position: relative;
  display: block;
 margin: 0 3em;
padding: 0 0.5em;
font-size: 22px;
}
.on-small-only .page-subTitle{font-size: 14px;margin-top: 4px;}

.page-subTitle:before,
.page-subTitle:after {
  position: absolute;
  top: 50%;
  content: '';
  width: 400%;
  height: 2px;
  background-color: #fff;
}

.on-small-only .page-subTitle:before,
.on-small-only .page-subTitle:after{width: 23%;top: 40%;}

.page-subTitle:before {right: 100%;}
.page-subTitle:after {left: 100%;}
    
    .on-small-only .page-subTitle:before {right: 93%;}
    .on-small-only .page-subTitle:after {left: 93%;}




/*tel入った分の調整*/
.cmT_c{padding: 20px 0px 30px !important;}
    .on-small-only .cmT_c{padding: 15px 0px 17px !important;}
     .on-small-only .cmT_c .telArea{display: block;}


/* audition
-------------------------------------*/

/*タイトル大*/
#audition .containerAll {padding: 0px 0px 60px 30px;}

#audition #title00{background: url(img/bg_audition.jpg) no-repeat center center;  position: relative;
  background-size: cover;height: 580px;margin: 0px 0 40px;
  }

  .on-small-only#audition #title00{margin: 0px -20px 40px;height: 390px;
}

#audition .titleAreaIn{
position: relative;
overflow: hidden;margin: 0 90px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform:translateY(-50%);
    -ms-transform: translateY(-50%);}

       .on-small-only#audition .titleAreaIn{margin: 0 20px;}

#audition .titleAreaIn p{color: #fff;line-height: 2.5;}

#audition .titleAreaIn .btn_beta-bk{width: 34%;}
    .on-small-only#audition .titleAreaIn .btn_beta-bk{width: 100%;}

.audition-title{
    position: relative;font-size: 53px;font-weight: bold;color: #fff;margin-bottom: 17px;margin-top: 0;}


.titleAreaBtn{margin-top: 90px;}



#audition #title01{background: url(img/bg_audition01.jpg) no-repeat center center;  
  background-size: 100% auto;
height: 300px;
margin: 80px 0 50px;
  }

#audition #title02{background: url(img/bg_audition02.jpg) no-repeat center center;  
 background-size: 100% auto;
height: 300px;
margin: 80px 0 50px;}

    .on-small-only#audition #title01,.on-small-only#audition #title02{height: 140px;margin: 40px -20px 10px;}



#audition .page-title{text-align: center;
position: relative;
overflow: hidden;
font-size: 57px;
display: inline-block;
color: #fff;
line-height: 1;
margin: 0;
padding-top: 10px;
top: 50%;
left: 50%;
    transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
    -ms-transform: translateY(-50%) translateX(-50%);
  }
    #audition .page-title{font-size: 35px;}

#audition .page-title.uLine{color: #fff;}

#audition .uLine {border-top: 7px solid #fff;}

.leftList{margin-top: 0;margin-left: 1em;}


/*タイトル小*/

.titleAreaSub{margin-bottom: 30px;}
.sub_title{font-size: 36px;text-align: center;font-weight: bold;margin-top: 90px;}
.sub_titleS{display: block;font-size: 13px;text-align: center;font-weight: normal;margin-top: 10px;}

    .on-small-only .sub_title{font-size: 28px;margin-top: 60px;}
    .on-small-only .sub_titleS{font-size: 12px;margin-top: 4px;}

/*ボタン*/
.btnArea{margin-top: 30px;text-align: center;}


#audition .container910 p{margin-bottom: 35px;}
    .on-small-only#audition .container910 p{margin-bottom: 20px;}

/*所属モデルの声*/
.grayArea{background: #F1F1F0;padding: 30px;margin-top: 30px;}
.grayArea:nth-of-type(1){margin-top: 0;}
    .on-small-only .grayArea{padding: 20px;margin-top: 20px;}

.grayArea .R{background: #fff;padding: 40px;}
    .on-small-only .grayArea .R {padding: 20px;}
.grayArea .L{padding-right: 0;}

.infoTable th{padding: 0px 5px 0px 0;}
.infoTable td{padding: 0 5px;}

    .on-small-only .infoTable th {padding: 3px 5px 0;line-height: 1.5;vertical-align: top;}
    .on-small-only .infoTable td {padding: 3px 5px 0;line-height: 1.5;}

.grayAreaIn.row{margin-left: 0;background: #fff;}
.grayAreaIn.row .col.L{padding-left: 0;}
    .on-small-only .grayAreaIn.row{margin-right: 0;padding-left: 0;}

.grayArea .name_title{font-size: 24px;margin-bottom: 30px;/*margin-top: 0;*/}
.grayArea .name_subTitle {
    font-size: 10px;
    display: inline-block;
    margin-top: 5px;margin-left: 15px;
    letter-spacing: 1px;
}
    .on-small-only .grayArea .name_title{font-size: 20px;margin-bottom: 18px;margin-top: 0;}

.grayArea p{margin-top: 20px;
margin-bottom: 0 !important;}

    .on-small-only .infoTable th{width: 18%;}

/*.grayAreaIn .colIn{
position: relative;
    top: 50%;
left: 50%;
    transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
    -ms-transform: translateY(-50%) translateX(-50%);}
*/

/*フロー*/

.flowTable {
    display: table;
    margin-bottom: 30px;
    width: 100%;
    position: relative;
}

.flowTable dt {
    background: #000;
    color: #fff;
    padding: 20px;
    text-align: center;
    width: 100px;
    display: table-cell;
    font-weight: bold;
    position: relative;
    vertical-align: middle;
    font-size: 21px;
}

.flowTable dd {
    background: #F1F1F0;
    padding: 15px 25px;
    display: table-cell;
    vertical-align: middle;
    font-size: 16px;
font-weight: bold;
}

    .on-small-only .flowTable dt{padding: 15px;width: 80px;}
    .on-small-only .flowTable dd{padding: 15px;font-size: 15px;}

.flowTable dd.fukidashi::after {
    content: '';
    position: absolute;
    border-top: 15px solid #F1F1F0;
    border-right: 20px solid transparent;
    border-left: 20px solid transparent;
    bottom: -14px;
    left: 50%;
}



/* entry
-------------------------------------*/

#entry .page-title{
overflow: hidden;
font-size: 48px;
display: inline-block;
line-height: 1;
margin: 50px 0;
padding-top: 10px;
  }

    .on-small-only#entry .page-title{font-size: 30px;
margin: 110px 0 20px;}
 .on-small-only#entry #wrapper {height: auto;overflow: hidden;}


/* guideline
-------------------------------------*/

.guideDL dt{margin-bottom: 5px;}
.guideDL dd{margin-left: 0;font-size: 12px;}

.on-small-only#guideline a.underLine{display: block;margin-left: 0 !important;margin-top: 6px;}

.on-small-only .guideLink{text-align: center;}

/* contact
-------------------------------------*/


/*#contact .main .tel-link {
    font-size: 45px;
font-weight: bold;
line-height: 1;
    margin-right: 10px;
    margin-bottom: 5px;
    color: #666;
}
*/
.on-small-only#contact #main .mb40{margin-bottom: 20px !important;}

#contact .main .tel-Area img{vertical-align: top;
margin-top: 5px;}

#contact .main .btn_pinkLine{padding: 15px;font-size: 16px;}

.on-small-only#contact .btn_pinkLine,.on-small-only#contact .tel-Area{text-align: center;}


    .on-small-only#contact .main .mb40{margin-bottom: 20px !important;}

    .on-small-only#contact .tel-Area img {vertical-align: top;width: 8%;height: auto;}
    .on-small-only#contact .tel-link{font-size: 27px;/*line-height: 0.8;*/}
    .on-small-only#contact .main .row .col img{margin-bottom: 0;}

    .on-small-only#contact .tel-linkTxt{display: block;margin-top: 3px;}

.on-small-only#contact .main .mr10{margin-right: 5px !important;}


.pageContact .shopName{font-size: 14px;font-weight: bold;margin-top: 5px;}
.pageContact .tel-link{font-size: 30px;}
.pageContact .shopNameAreaIn{margin-top: 30px;}
.pageContact .shopNameAreaIn li{border-right: 1px dotted #666;}
.pageContact .shopNameAreaIn li:last-child{border-right: none;}
  .on-small-only .pageContact .shopNameAreaIn{margin-top: 0px;}
  .on-small-only .pageContact .shopNameAreaIn li{border-right: none;margin-top: 10px;}
  .on-small-only .pageContact .shopNameAreaIn li:first-child{margin-top: 0px;}


/*table*/

table.form{border:none;table-layout:fixed;
    border-collapse: separate;
    border-spacing: 0;/*border-top:1px solid #999;*/}
table.form th{background:#F2F2F2;padding:17px;width:27%;text-align:left;position:relative;vertical-align:top;}

table.form td{background:#fff;padding:17px;}
table.form th,table.form td{border-bottom:1px solid #999;font-weight:normal;border-left: transparent;font-size: 1.2rem;font-size: 14px;}
/*table.form th{border-left: transparent;border-right: transparent;border-top: transparent;}*/
    .on-small-only table.form td {padding: 17px 17px 10px;}
  .bdT{border-top:1px solid #999;}

 #entry table.form {border-top:1px solid #999;}


/*table.form td{border-right: transparent;border-left: transparent;border-top: transparent;}*/

table.form th p{text-align:left;color:#666;line-height:1.6em;}


table.form th.Indispensable{clear: both;}
table.form th.Indispensable:after{content:"必須";/*position:absolute;top:17px;left:19px;*//*float: left;*/font-size:11px;padding:4px 6px;background:#000;color:#fff;line-height:1em;letter-spacing:1px;text-align: center;display: block;
width: 50px;
margin-top: 5px;}


table.form td dt{width:25%;float:left;font-weight:normal;color:#666;}
table.form td dd{margin-bottom:5px;padding-left:15%;}
table.form td dl.bgA2959C{background:#A2959C;padding:12px 19px;}
table.form td dl.bgA2959C dt,table.form td dl.bgA2959C p{color:#fff;}
table.form td .privacy-txt{height: 12em;overflow-y: scroll;padding:10px 15px;background:#fff;border:1px solid #ddd;margin-bottom: 5px;}

.add_width{width: 150px;display: inline-block;}

.form input,.form textarea{background: #fff;}

  input[type="button"],input[type="submit"] {
    -webkit-appearance: none;
  }

  /*誕生日*/
 /* table.form .birthday .select-wrapper{width: 18%;}*/
/*  table.form .birthday{display: table;}*/
   table.form .birthday .birthdayIn{display: table-cell;}

.birthdayTable td .wpcf7-form-control-wrap{float: left;
text-align: left;
width: 50%;
margin-right: 20px;}
.birthdayTable td .wpcf7-form-control-wrap:first-child{float: none;}
.birthdayTable td{padding: 0 !important;border-bottom: none !important;}

.birthday ul li .menu-month,.birthday ul li .menu-day{float: left;margin-right: 20px;}
.birthday ul li:first-child{float: none;}


td.birthday .wpcf7-form-control-wrap.menu-month,td.birthday .wpcf7-form-control-wrap.menu-day{width: 20%;display: inline-block;margin-right: 20px;}

.submit{text-align: center !important;margin-bottom: 20px;padding-top: 30px;}
    
    #entry .submit{margin-bottom: 50px;padding-top: 50px;}

  .on-small-only .submit{margin-bottom: 0px !important;padding-top: 15px;}
  .on-small-only#entry .submit{padding-top: 30px;padding-bottom: 30px;}


textarea {height: 6rem;border-top: none;border-left: none;border-right: none;}


input.wpcf7-submit{
    background:#F19500;
position: relative;
-webkit-background-size: 178px;
background-size: 178px;
border: 1px solid #F19500;
padding:16px 20px;
font-size:17px;
color: #fff;
/*width: 300px;*/
    opacity: 1;
    line-height:1.2;
    font-weight:600;letter-spacing:0.1em;

    -webkit-transition: 0.8s;
        -moz-transition: 0.8s;
        -o-transition: 0.8s;
        -ms-transition: 0.8s;
        transition: 0.8s;

/*-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;*/

    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    -webkit-appearance: none;
    }


/*フォームに線つける*/
input[type="text"], input[type="password"], input[type="email"], input[type="url"], input[type="time"], input[type="date"], input[type="datetime-local"], input[type="tel"], input[type="number"], input[type="search"], textarea.materialize-textarea,.wpcf7-textarea,.select-wrapper input.select-dropdown{border: 1px solid #B2B1B1;margin-bottom: 0;}


input.wpcf7-submit:hover{opacity:0.6;color: #fff;}

input.wpcf7-submit::before{right:12px;width:8px;height:8px;border-top:2px solid #fff;border-right:2px solid #fff;-webkit-transform:rotate(45deg);transform:rotate(45deg);}
input.wpcf7-submit::before,.arrow::after{position:absolute;top:0;bottom:0;margin:auto;content:"";vertical-align:middle;}

.materialize-textarea:focus:not([readonly]){border-bottom:1px solid #A4C43C;box-shadow:0 1px 0 0 #A4C43C;}
.input-field .prefix.active{color:#A4C43C;}



.txtForm{max-width:30% !important;}
.txtFormHalf{max-width: 15% !important;}
.tableLeft{width: 15%;
padding-top: 5px;float: left;padding-bottom: 5px;}
.spB{display: inline;}

/*matelialize上書き*/
.select-wrapper input.select-dropdown{padding: 0px 0px 0 10px;
background: #fff;
margin-right: 0px;
width: 98.5%;}
.select-wrapper span.caret {
    top: 37% !important;
    z-index: 999;
}


    .on-small-only .select-wrapper input.select-dropdown {width: 94.5%;}

.select-wrapper span.caret {right: 10px;}

/* ----iPad in 横----*/
@media only screen and (min-device-width: 1025px) {

   /*  style  */
/*table.form th.Indispensable:after{position:absolute;top:17px;right: 15px;}*/
input.wpcf7-submit {width: 300px;}

}

/* ----iPad in 横----*/
@media only screen and (max-device-width: 1000px) {

   /*  style  */
/*table.form th.Indispensable:after{float: left;}*/
table.form th{width:27%;}
input.wpcf7-submit {width: 460px;}

}


.on-small-only .tableLeft{width: 100%;}
/*table.form th.Indispensable:before{float: none;display: block;margin-bottom: 5px;}*/

.on-small-only table.form th.Indispensable::after {
bottom: 5px;
right: 0;
left: 0;
margin: auto;
display: block;
float: none;
margin-top: 5px;
width: 100%;
}

.on-small-only table.form th{padding: 10px;line-height: 1.5;
text-align: left;}
.on-small-only table.form td{line-height: 1.5;}

.on-small-only .txtForm {max-width: 100% !important;}
.on-small-only table.form td div {padding-bottom: 5px;}
.on-small-only .spB {display: block;}
.on-small-only .fs85 {display: block;}
.on-small-only input.wpcf7-submit {width: 100%;}
.on-small-only .spB.mr5{margin-right: 0 !important;}

.on-small-only input.wpcf7-submit {
/*-webkit-background-size: contain;
      background-size: contain;*/
padding: 14px;}


.on-small-only#contact .telTime{display: block;
text-align: center;}
.pageContact .telNo {font-size: 33px;}


/* entry
-------------------------------------*/

/* body#entry.on-small-only{overflow: hidden;}*/

html.entryForm{height: inherit;overflow: hidden;}

.on-small-only .red-text{display: block;margin-left: 0 !important;font-size: 80%;}

.on-small-only#entry .mb20 {margin-bottom: 10px !important;}
.on-small-only#entry .mt40 {margin-top: 30px !important;}
.on-small-only#entry .mt60 {margin-top: 30px !important;}

.on-small-only .doui{display: block;}

/* privacy
-------------------------------------*/

#privacy .main ol li{
    /*list-style:none;*/
    font-weight: bold;
    color: #B3272D;
    margin-left: 20px;
    
}
.page#contact .main p{margin-bottom: 20px;}
    .on-small-only .accept p{margin-bottom: 0;}

#privacy .main ul li,#privacy .main span{color:#333;font-weight:normal;}

#privacy .main ul{margin-top:10px;margin-bottom: 25px;}

.listStyle5{/*color: #B3272D;*/padding: 0 0 0 15px;}
.listStyle5 span{color: #000;}
/*.listStyle5 strong{font-weight: bold;}*/
.listStyle5 li{margin-top: 16px;/*line-height: 2.3;*/}
.listStyle5 li:first-child{margin-top: 0px;}

.listStyle5 li ul li{
/*line-height: 2.3;*/
list-style: outside none;
margin-left: 1em;
margin-top: 0;
color: #000;
}


.discList{list-style-position: inside;}
.discList li{list-style-type: disc !important;}


/* sitemaps
-------------------------------------*/


.sitemapList li:first-child{border-top: 1px dotted #BBBDBF;}
.sitemapList li{border-bottom: 1px dotted #BBBDBF;position: relative;}
.sitemapList li a{padding: 10px;padding: 15px 0px 15px 35px;display: block;}

.sitemapList .arrow_arrowL::before {left: 15px;}
  .on-small-only .row.sitemapList{margin: 0;}
  .on-small-only .sitemapList ul{margin: 0;padding: 0;}
  .on-small-only .sitemapList li:first-child{border-top: none;}


/* 404
-------------------------------------*/

.error404.on-small-only .con-title {line-height: 1.5;}
.error404.on-small-only .simple-titleS {line-height: 1.3;font-size: 17px;}
.error404 .main .row .col{margin-bottom: 20px;}


/*clickBox*/
    .clickBox {display: block;
    -webkit-transition: 0.3s ease-in-out;
           -moz-transition: 0.3s ease-in-out;
             -o-transition: 0.3s ease-in-out;
                transition: 0.3s ease-in-out;}

.clickBox:hover{text-decoration: none;
        opacity: 0.7;
        filter: alpha(opacity=30);}


/*ボタン*/
.error404 .btnArea{margin-top: 20px;text-align: center;}
    .error404.on-small-only .btnArea{margin-top: 15px;}
.error404 .name_title{text-align: center;}


.error404.on-small-only .page-title{font-size: 20px;}
.error404.on-small-only .btnArea:nth-of-type(1){margin-bottom: 20px;}


/******************************************

    slide

*******************************************/


.bx-wrapper {z-index: -1;}

  .on-small-only .bx-wrapper{margin: 0 auto;}
  
  
/*エントリーフォーム追加*/
.red-text{color: #F00;}




